// @import "~bootstrap/scss/bootstrap.scss";

.back-button {
    padding: 7.5px 15px;
    font: 20px;
    color: whitesmoke;
    background-color: #20c997;
    border: none;
    border-radius: 10px;
  }

  .FavButton {
    color: whitesmoke;
    background-color: #20c997;
  }

  body {
    background-color: honeydew;
    
  }

 .movie-image {
  height: 100px;
  width: 100px;
 }

  